# -- number of replicas to deploy
replicaCount: 1

image:
  # -- registry where the HAPI FHIR server image is hosted
  registry: docker.io
  # -- the path inside the repository
  repository: hapiproject/hapi
  # -- the image tag. As of v5.7.0, this is the `distroless` flavor by default, add `-tomcat` to use the Tomcat-based image.
  tag: "latest"
  # -- image pullPolicy to use
  pullPolicy: IfNotPresent

# -- image pull secrets to use when pulling the image
imagePullSecrets: []

# -- override the chart name
nameOverride: ""

# -- override the chart fullname
fullnameOverride: ""

# -- annotations applied to the server deployment
deploymentAnnotations: {}

# -- annotations applied to the server pod
podAnnotations: {}

# -- pod security context
podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
  privileged: false
  seccompProfile:
    type: RuntimeDefault

# service to expose the server
service:
  # -- service type
  type: ClusterIP
  # -- port where the server will be exposed at
  port: 8080

gateway:
  enabled: true
  host: ""

ingress:
  # -- whether to create an Ingress to expose the FHIR server HTTP endpoint
  enabled: true
  className: "kong"
  # -- provide any additional annotations which may be required. Evaluated as a template.
  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    konghq.com/protocols: "https"
    konghq.com/https-redirect-status-code: "308"
    kubernetes.io/ingress.class: kong
  hosts:
    - host: ""
      pathType: ImplementationSpecific
      paths: ["/"]
  # -- ingress TLS config
  tls:
    - secretName: ""
      hosts:
        - ""

# -- configure the FHIR server's resource requests and limits
resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    memory: 4Gi
    cpu: 1000m
  requests:
    memory: 2Gi
    cpu: 1000m

# -- node selector for the pod
nodeSelector: {}

# -- pod tolerations
tolerations: []

# -- pod affinity
affinity: {}

# -- pod topology spread configuration
# see: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#api
topologySpreadConstraints:
  []
  # - maxSkew: 1
  #   topologyKey: topology.kubernetes.io/zone
  #   whenUnsatisfiable: ScheduleAnyway
  #   labelSelector:
  #     matchLabels:
  #       app.kubernetes.io/instance: hapi-fhir-jpaserver
  #       app.kubernetes.io/name: hapi-fhir-jpaserver

postgresql:
  # -- enable an included PostgreSQL DB.
  # see <https://github.com/bitnami/charts/tree/master/bitnami/postgresql> for details
  # if set to `false`, the values under `externalDatabase` are used
  enabled: false
  auth:
    # -- name for a custom database to create
    database: "fhir"
    # -- Name of existing secret to use for PostgreSQL credentials
    # `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret
    # The secret must contain the keys `postgres-password` (which is the password for "postgres" admin user),
    # `password` (which is the password for the custom user to create when `auth.username` is set),
    # and `replication-password` (which is the password for replication user).
    # The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and
    # picked from this secret in this case.
    # The value is evaluated as a template.
    existingSecret: ""
    secretKeys:
      userPasswordKey: ""
      adminPasswordKey: ""

# -- readiness probe
# @ignored
readinessProbe:
  httpGet:
    path: /readyz
    port: http
  failureThreshold: 5
  initialDelaySeconds: 30
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 20

# -- liveness probe
# @ignored
livenessProbe:
  httpGet:
    path: /livez
    port: http
  failureThreshold: 5
  initialDelaySeconds: 30
  periodSeconds: 20
  successThreshold: 1
  timeoutSeconds: 30

# -- startup probe
# @ignored
startupProbe:
  httpGet:
    path: /readyz
    port: http
  failureThreshold: 10
  initialDelaySeconds: 30
  periodSeconds: 30
  successThreshold: 1
  timeoutSeconds: 30

externalDatabase:
  # -- external database host used with `postgresql.enabled=false`
  host: localhost
  # -- database port number
  port: 5432
  # -- username for the external database
  user: fhir
  # -- database password
  password: ""
  # -- name of an existing secret resource containing the DB password in the `existingSecretKey` key
  existingSecret: ""
  # -- name of the key inside the `existingSecret`
  existingSecretKey: "postgresql-password"
  # -- database name
  database: fhir

# -- extra environment variables to set on the server container
extraEnv:
  - name: OTEL_METRICS_EXPORTER
    value: "none"
  - name: OTEL_LOGS_EXPORTER
    value: "none"
  - name: OTEL_TRACES_EXPORTER
    value: "jaeger"
  - name: OTEL_SERVICE_NAME
    value: "hapi-fhir-jpaserver"
  - name: OTEL_EXPORTER_JAEGER_ENDPOINT
    value: "https://jaeger-collector.savannahghi.org/"
  - name: JAVA_OPTS
    value: "-Xms512M -Xmx2560M -XX:+UseG1GC -XX:MaxRAMPercentage=70"
  - name: JAVA_TOOL_OPTIONS
    value: "-Xms512M -Xmx2560M -XX:+UseG1GC -XX:MaxRAMPercentage=70"

podDisruptionBudget:
  # -- Enable PodDisruptionBudget for the server pods.
  # uses policy/v1/PodDisruptionBudget thus requiring k8s 1.21+
  enabled: true
  # -- minimum available instances
  minAvailable: 1
  # -- maximum unavailable instances
  maxUnavailable: ""

serviceAccount:
  # -- Specifies whether a service account should be created.
  create: false
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  # -- Automatically mount a ServiceAccount's API credentials?
  automount: true

metrics:
  serviceMonitor:
    # -- if enabled, creates a ServiceMonitor instance for Prometheus Operator-based monitoring
    enabled: false
    # -- additional labels to apply to the ServiceMonitor object, e.g. `release: prometheus`
    additionalLabels: {}
    # namespace: monitoring
    # interval: 30s
    # scrapeTimeout: 10s
  service:
    port: 8081

# @ignore
restrictedContainerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  privileged: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  runAsUser: 65534
  runAsGroup: 65534
  seccompProfile:
    type: RuntimeDefault

# @ignored
curl:
  image:
    registry: docker.io
    repository: curlimages/curl
    tag: 8.9.1@sha256:8addc281f0ea517409209f76832b6ddc2cabc3264feb1ebbec2a2521ffad24e4

tests:
  # -- whether the service account token should be auto-mounted for the test pods
  automountServiceAccountToken: false
  # -- configure the test pods resource requests and limits
  resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- additional Spring Boot application config. Mounted as a file and automatically loaded by the application.
extraConfig: |
  hapi:
    fhir:
      logical_urls:
        - http://terminology.hl7.org/*
        - https://terminology.hl7.org/*
        - http://snomed.info/*
        - https://snomed.info/*
        - http://unitsofmeasure.org/*
        - https://unitsofmeasure.org/*
        - http://loinc.org/*
        - https://loinc.org/*
        - http://id.who.int/icd/*
        - https://id.who.int/icd/*
        - http://id.who.int/ichi/*
        - https://id.who.int/ichi/*
      terminology:
        valueset_preexpansion_mode: STORE_AND_EXPAND
        valueset_expansion_mode: PERFORM_NAIVE_EXPANSION
        valueset_membership_mode: USE_EXPANSION
        code_lookup_mode: USE_VALIDATE_CODE_OPERATION
        maximum_expansion_size: 5000
      implementationguides:
        hl7_terminology_r5:
          name: hl7.terminology.r5
          version: 7.0.1
          installMode: STORE_AND_INSTALL
          reloadExisting: true
          installResourceTypes:
            - CodeSystem
            - ValueSet
      fhir_version: R5
      openapi_enabled: true
      allow_external_references: true
      advanced_lucene_indexing: false
      bulk_export_enabled: true
      bulk_import_enabled: true
      allowed_bundle_types: COLLECTION,DOCUMENT,MESSAGE,TRANSACTION,TRANSACTIONRESPONSE,BATCH,BATCHRESPONSE,HISTORY,SEARCHSET
      allow_cascading_deletes: true
      allow_contains_searches: true
      allow_multiple_delete: true
      default_encoding: JSON
      default_pretty_print: true
      default_page_size: 50
      expunge_enabled: true
      filter_search_enabled: true
      server_id_strategy: UUID
      delete_expunge_enabled: true
      search_index_full_text_enabled: true
      validate_resource_status_for_package_upload: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 90
  targetMemoryUtilizationPercentage: 90

auth:
  enabled: true
  username: "fhir-client-user"
  password: ""  # Set via --set in deployment (from GitHub Secrets)
  consumerName: "hapi-fhir-consumer"
